{% extends "base.html.twig" %}

{% block title %}
	cotation-famille client
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Donnée de base','var02':'Cotation-famille client','var03':tcotfamcli|length,'var10':'cotfamcli_creat','var11':'0'} %}

	<div class="row">
		<div class="col-md-2">
			{% include 'cotfamcli/_filtreCotfamcli.html.twig' with { form: form} %}</div>
		<div class="col-md-10">
			{% include "cotfamcli/_tab.html.twig" with {'tcotfamcli' : tcotfamcli} %}
		</div>
	</div>

{% endblock %}
