{% extends 'base.html.twig' %}

{% block title %}Creation catégorie
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Catégorie','var02':'Création','var10':'ctg_gst'} %}
	{{ form_start(formView) }}
	{{ form_widget(formView) }}
	<button type="submit" class="btn btn-success">Enregistrer</button>
	{{form_end(formView)}}
{% endblock %}
