{% extends "base.html.twig" %}

{% block title %}
	modele
{% endblock %}
{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Donnée de base','var02':'Modèle','var03':tmodele|length,'var10':'mdl_creat','var11':'MDL'} %}

	<div class="row">
		<div class="col-md-2">
			{% include 'modele/_filtreMdl.html.twig' with { form: form} %}</div>
		<div class="col-md-10">
			{% include "modele/_tab.html.twig" with {'tmodele' : tmodele} %}
		</div>
	</div>

	{% include "shared/_icon_supp_row_js.html.twig" %}

{% endblock %}
