{% extends 'base.html.twig' %}

{% block title %}Transfert article
{% endblock %}

{% block body %}

	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Base article','var02':'Article en attente de transfert','var03':tarttrfsitweb|length,'var10':'','var11':'Transfert article vers site web'} %}

	<div class="row">
		<div class="col-md-3">
			{% include 'shared/_filtreArt.html.twig' with { form: form} %}
			{% include 'arttrfsitweb/_tab02.html.twig' with {tarticle:tarticle} %}

		</div>

		<div class="col-md-9">
			{% include 'arttrfsitweb/_tab01.html.twig' with {tarttrfsitweb:tarttrfsitweb} %}
			<a href="{{ path('arttrfsitweb_trffic') }}">
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary  btn-lg">Extraire au format site web</button>
				</div>
			</a>
		</div>
	</div>

{% endblock %}

