{% extends "base.html.twig" %}

{% block title %}
	Groupement Societe
{% endblock %}
{% block body %}
	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Donnée de base','var02':'Groupement Societe','var03':tsoc|length,'var10':'socgpt_creat','var11':'Goupement Societe'} %}
	<div class="row">
		<div class="col-md-12">
			{% include "socgpt/_tab.html.twig" with {'tsoc' : tsoc} %}
		</div>
	</div>


{% endblock %}

