{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>Bienvenue sur l'intranet DYADEM
	</h1>

	<div class="jumbotron">
		<h1>Gestion de la BDDU</h1>
	</div>
	{# <div class="card">
			<div class="card-body">
				<h5 class="card-title">Titre de la carte</h5>
				<p class="card-text">Contenu textuel de la carte</p>
			</div>
		</div>
		<ul class="”list-inline”">
			<li class="”list-inline-item”">Je</li>
			<li class="”list-inline-item”">suis</li>
			<li class="”list-inline-item”">une liste</li>
			<li class="”list-inline-item”">inline</li>
		</ul>
		<p class="”text-center" text-lg-left”>
			[L’alignement du contenu dépend de la zone de visualisation]
		</p>
		<p>
			[Parfois, vous aurez envie de mettre
			<span class="font-italic">des mots en italique</span>
			dans votre contenu !]
		</p> #}
	<div class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="list-inline text-center">
						<li class="list-inline-item">
							<a href="#">À propos</a>
						</li>
						<li class="list-inline-item">&middot;</li>
						<li class="list-inline-item">
							<a href="#">Vie privée</a>
						</li>
						<li class="list-inline-item">&middot;</li>
						<li class="list-inline-item">
							<a href="#">Conditions d'utilisations</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
