<div class="col">
	<div class="card bg-{{color}} text-white text-center">
		<div class="card-body">
			<I class="{{icone}}"></I>
			<p class="card-text">{{text}}</p>
		</div>
	</div>

</div>
