{% extends 'base.html.twig' %}

{% block title %}Creation article-modèle
{% endblock %}

{% block body %}
	{% include "shared/_breadcrumb_02_fiche.html.twig" with {'var01' : 'Article-modèle','var02':'Création','var10':'artmdl_gst'} %}

	{{ form_start(formView)}}

	{{ form_errors(formView)}}

	{{ form_widget(formView)}}


	<button type="submit" class="btn btn-success">Enregistrer</button>

	{{ form_end(formView)}}
{% endblock %}
