<div class="row">
	<div class="col-2">
		<div class="text-primary">
			<p>{{var01}}</p>
		</div>
	</div>
	<div class="col-10">
		<div class="text-primary">
			<p>{{var02}}</p>
		</div>
	</div>

</div>
