{% extends "base.html.twig" %}

{% block title %}
	utilisateur
{% endblock %}
{% block body %}
	{% include "shared/_breadcrumb_01.html.twig" with {'var01' : 'Adminstration','var02':'Utilisateur','var03':tuser|length,'var10':'usr_creat','var11':'USR'} %}
	<div class="container-fluid">
		<div class="row">
			{# <div #}
			{# class="col-md-2"> #}
			{# {% include 'shared/_filtreArt.html.twig' with { form: form,allow_extra_fields:allow_extra_fields} %}</div> #}
				<div class="col-md-12"> {% include "user/_tab.html.twig" with {'tuser' : tuser} %}
			</div>
		</div>

	</div>
	{# <h1>Gestion utilisateur</h1> #}

{% endblock %}
