<h1>Création du compte utilisateur sur la BDDU
	<p>{{ tuser.email}}</p>


</h1>
<p>Le mot de passe est
	{{ pwd }}. Vous devrez le réinitialiser lors de la première connection
</p>



<h3>Bienvenue sur la BDDU</h3>

